<!--<%= form_for(@book, multipart: true) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :cover %><br>
    <%= f.file_field :cover %>
  </div>
  <div class="field">
    <% @book.authors.build if @book.authors.empty? %>
    <% @book.authors.each_with_index do |author, index| %>
      <%= f.fields_for :authors do |ff| %>
        <%= ff.label :name, 'Author ' + (index + 1).to_s %><br>
        <%= ff.text_field :name %><br>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <% @book.attachments.build if @book.attachments.empty? %>
    <% @book.attachments.each_with_index do |attachment, index| %>
      <%= f.fields_for :attachments do |ff| %>
        <%= ff.label :file, 'Attachment ' + (index + 1).to_s %><br>
        <%= ff.file_field :file %><br>
      <% end %>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>-->
<%= form_for @book do |f| %>
  <div class="field">
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :cover %>
    <br/>
    <%= f.file_field :cover %>
  </div>
  <h3>Authors</h3>
  <div id="authors">
    <%= f.fields_for :authors do |author| %>
      <%= render 'author_fields', :f => author %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add author', f, :authors %>
    </div>
  </div>
  <h3>Attachments</h3>
  <div id="attachments">
    <%= f.fields_for :attachments do |attachment| %>
      <%= render 'attachment_fields', :f => attachment %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add attachment', f, :attachments %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
