<%= form_for(@book, multipart: true) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :cover %><br>
    <%= f.file_field :cover %>
  </div>
  <div class="field">
    <% @book.authors.build if @book.authors.empty? %>
    <% @book.authors.each_with_index do |author, index| %>
      <%= f.fields_for :authors do |ff| %>
        <%= ff.label :name, 'Author ' + (index + 1).to_s %><br>
        <%= ff.text_field :name %><br>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <% @book.attachments.build if @book.attachments.empty? %>
    <% @book.attachments.each_with_index do |attachment, index| %>
      <%= f.fields_for :attachments do |ff| %>
        <%= ff.label :file, 'Attachment ' + (index + 1).to_s %><br>
        <%= ff.file_field :file %><br>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
