<%= form_for @book do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title, class: "form_input" %>
  </div>
  <div class="field">
    <%= f.label :cover %>
    <br/>
    <%= f.file_field :cover, class: "form_input" %>
  </div>
  <h3>Authors</h3>
  <br>
  <div id="authors">
    <% @book.authors.build unless @book.authors.any? %>
    <%= f.fields_for :authors do |author| %>
      <%= render 'author_fields', :f => author %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add author', f, :authors %>
    </div>
  </div>
  <h3>Attachments</h3>
  <br>
  <div id="attachments">
    <% @book.attachments.build unless @book.attachments.any? %>
    <%= f.fields_for :attachments do |attachment| %>
      <%= render 'attachment_fields', :f => attachment %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add attachment', f, :attachments %>
    </div>
  </div>
  <%= f.submit class: "form_button" %>
<% end %>
