<p id="notice"><%= notice %></p>

<div class="header-content">
    <div class="text left">
      <h2 class="light"><%= @book.title %></h2>
      <p class="gray sm-text">by<span class="emphasis"> <%= @book.user.email[/[^@]+/] %></span>
        <%= @book.created_at.strftime("%B %d, %Y") %></p>
  </div>
</div><!--end header-content-->
<section>
  <figure class="big-picture left">
    <%= image_tag @book.cover.url(:show) %>
  </figure>
  <aside class="left">
    <ol class="tags gray left">
      <li class="heading bold">Authors</li>
      <% @authors.each do |author| %>
        <li class="tag1 light"><%= author.name %></li>
      <% end %>
    </ol>
    <ol class="tags gray left">
      <li class="heading bold">Attachments</li>
      <% @attachments.each do |attachment| %>
        <li class="tag1 light"><%= link_to attachment.file_file_name, attachment.file.url %></li>
      <% end %>
    </ol>
    <p class="gray sm-text"><%= link_to 'Edit book', edit_book_path(@book) %></p>
  </aside>
</section>
